/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_main.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_main.scss */
.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* line 18, ../sass/_main.scss */
section {
  width: 100%;
}

/* line 22, ../sass/_main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 27, ../sass/_main.scss */
#map-canvas {
  position: relative;
  margin-top: -350px;
  height: 100%;
  z-index: 0;
  background-color: #e5e3df;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
@media (max-width: 768px) {
  /* line 27, ../sass/_main.scss */
  #map-canvas {
    height: 150%;
  }
}
@media (max-width: 550px) {
  /* line 27, ../sass/_main.scss */
  #map-canvas {
    height: 200%;
  }
}

/* line 46, ../sass/_main.scss */
.directions-h1 {
  text-align: center;
  padding: 0.8em 0;
  color: #3d7899;
  cursor: pointer;
}

/* line 53, ../sass/_main.scss */
.adp, .adp table, .adp-list {
  margin: 0 auto !important;
}

/* line 57, ../sass/_main.scss */
html {
  height: 100%;
}

/* line 1, ../sass/_header.scss */
.logo {
  background: url("../images/logo.svg") no-repeat;
  background-size: 75%;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  margin-top: -5px;
}
@media (max-width: 420px) {
  /* line 1, ../sass/_header.scss */
  .logo {
    width: 150px;
  }
}

/* line 13, ../sass/_header.scss */
.header {
  background: white;
  width: 100%;
  height: 50px;
  padding: 10px 0;
}
@media (max-width: 420px) {
  /* line 13, ../sass/_header.scss */
  .header {
    height: 30px;
  }
}

/* line 23, ../sass/_header.scss */
.head-arrow {
  color: #61a3c1;
  visibility: visible;
  position: absolute;
  display: block;
  right: 30px;
  top: 25px;
}

/* line 1, ../sass/_info.scss */
.info {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
}

/* line 6, ../sass/_info.scss */
::-webkit-input-placeholder {
  font-style: italic;
}

/* line 9, ../sass/_info.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}

/* line 12, ../sass/_info.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}

/* line 15, ../sass/_info.scss */
:-ms-input-placeholder {
  font-style: italic;
}

/* line 19, ../sass/_info.scss */
.info-input, .dist-input {
  background: white;
  border: 1px solid #f7931e;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  padding: 0.5em 1em;
  width: 80%;
  margin: 2% 6%;
}
@media (max-width: 420px) {
  /* line 19, ../sass/_info.scss */
  .info-input, .dist-input {
    padding: 0em 1em;
  }
}
/* line 32, ../sass/_info.scss */
.info-input:focus, .dist-input:focus {
  background: #ffecdc;
  border: 1px solid #ffa85a;
  box-shadow: none;
  outline: none;
}

/* line 40, ../sass/_info.scss */
.dist-input {
  width: 10%;
  margin: 2%;
}

/* line 46, ../sass/_info.scss */
.start-label, .end-label {
  color: #3d7899;
  display: inline-block;
  font-size: 24px;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 1%;
  margin-top: 14px;
}

/* line 57, ../sass/_info.scss */
.distance-sent {
  text-align: center;
  font-size: 36px;
}
@media (max-width: 768px) {
  /* line 57, ../sass/_info.scss */
  .distance-sent {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  /* line 57, ../sass/_info.scss */
  .distance-sent {
    font-size: 23px;
  }
}
@media (max-width: 420px) {
  /* line 57, ../sass/_info.scss */
  .distance-sent {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  /* line 57, ../sass/_info.scss */
  .distance-sent {
    font-size: 14px;
  }
}

/* [1] */
/* [2] */
/* [3] */
/* [4] */
/* [6] */
/* Styles: */
/* line 10, ../sass/_menu.scss */
.menu-text {
  font-size: 40px;
  padding: 30px 18px;
  cursor: pointer;
}

/* line 16, ../sass/_menu.scss */
.icon {
  position: relative;
  background: white;
  cursor: pointer;
  margin: auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

/* line 28, ../sass/_menu.scss */
.menu {
  position: absolute;
  top: -60px;
}

/* line 34, ../sass/_menu.scss */
.icon.clicked .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 5;
}
/* line 40, ../sass/_menu.scss */
.icon.clicked .spread, .icon.clicked .unit {
  transition: all 0.6s;
}

/* line 45, ../sass/_menu.scss */
.sub {
  display: inline-block;
}

/* line 49, ../sass/_menu.scss */
.menu-circle {
  border-radius: 50%;
  background: white;
  width: 100px;
  height: 100px;
  display: block;
  border: 1px solid #f7931e;
  color: #f7931e;
  position: relative;
  z-index: 10;
}

/* line 74, ../sass/_menu.scss */
.clicked {
  z-index: 6;
}

/* line 78, ../sass/_menu.scss */
.unit {
  position: absolute;
  font-size: 60%;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.6s;
  border: 1px solid #f7931e;
  background-color: white;
}
/* line 90, ../sass/_menu.scss */
.unit:hover, .unit.active {
  background-color: #ffecdc;
}

/* MEE */
/* line 95, ../sass/_menu.scss */
.menu-area {
  position: absolute;
  z-index: 3;
}

/* line 100, ../sass/_menu.scss */
.sub {
  z-index: 1;
}

/* line 104, ../sass/_menu.scss */
.restaurants {
  background: url("../images/menu-icon-eat.svg") no-repeat scroll 50% center/70% auto white;
  margin: 60px 10px;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 108, ../sass/_menu.scss */
.restaurants.open {
  margin: 0 6px;
}

/* line 112, ../sass/_menu.scss */
.gas-stations {
  background: url("../images/menu-icon-gas.svg") no-repeat scroll 56% center/40% auto white;
  margin: 60px 10px;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 116, ../sass/_menu.scss */
.gas-stations.open {
  margin: 0 55px;
}

/* line 120, ../sass/_menu.scss */
.sites {
  background: url("../images/menu-icon-sites.svg") no-repeat scroll 45% center/70% auto white;
  margin: 60px 0;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 124, ../sass/_menu.scss */
.sites.open {
  margin: 36px 90px;
}

/* line 128, ../sass/_menu.scss */
.nature {
  background: url("../images/menu-icon-nature.svg") no-repeat scroll 52% center/65% auto white;
  margin: 60px 0;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 132, ../sass/_menu.scss */
.nature.open {
  margin: 85px 97px;
}

/* line 136, ../sass/_menu.scss */
.music {
  background: url("../images/menu-icon-soundcloud.svg") no-repeat scroll 52% center/75% auto white;
  margin: 60px 0;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 140, ../sass/_menu.scss */
.music.open {
  margin: 130px 70px;
}

/* line 1, ../sass/_directions.scss */
#directions {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background: white;
  height: 100%;
  margin-top: -50px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 100%;
  visibility: hidden;
  max-width: 800px;
  z-index: 4;
}
/* line 14, ../sass/_directions.scss */
#directions.pulled {
  margin-top: 0;
  top: 0;
}
